@code {
    [Parameter]
    public bool? FullHeight { get; set; }

private const string titleString = "Living Sky School Division No. 202";
private const string subTitleString = "Online Registration and Application System";
}

@if (FullHeight == true)
{
    <div class="jumbotron jumbotron-fluid" style="
            background-size: cover; 
            background-repeat:no-repeat; 
            background-image: url(images/banner_image.jpg); 
            background-position: center;
            ">
        <div class="container p-5" style="background-color: rgba(255,255,255,0.8);">
            <div class="align-top row">
                <img src="images/lssd-logo.png" style="width: 5em; height: 5em; margin: 10px;" class="align-middle d-none d-lg-block" alt="Living Sky School Division Logo" />
                <div class="align-middle">
                    <h1 class="font-weight-bold">@titleString</h1>
                    <h2>@subTitleString</h2>
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="d-none d-md-block" style="
                    background-image: url(images/banner_image.jpg);
                    background-size: cover;
                    background-position: center;
                    padding: 0 !important;
                    border-bottom: 1px solid #C0C0C0;
        ">
    <div style="background-color: rgba(255,255,255,0.8);">
        <div class="container p-2">
            <div class="align-top row">
                <img src="images/lssd-logo.png" style="width: 5em; height: 5em; margin: 10px;" class="align-middle d-none d-lg-block" alt="Living Sky School Division Logo" />
                <div class="align-middle">
                    <h1 class="font-weight-bold">@titleString</h1>
                    <h2>@subTitleString</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-md-none p-4" style="color: white; background: #303030;">
    <div class="container">
        <h1 class="font-weight-bold" style="font-size: 1.2rem;">@titleString</h1>
        <h2 style="font-size: 1.2rem;">@subTitleString</h2>
    </div>
</div>
<br />
}
