@using LSSD.Registration.Model
@using System.Linq;
@using LSSD.Registration.CustomerFrontEnd.Services;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    PreKInfo PreKInfoData = new PreKInfo();
    Student savedStudent = new Student();

    protected async Task HandleValidSubmit()
    {
        await saveForm();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveForm();
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveForm();
        StepTracker.PreviousStep(FormName);
    }

    private async Task saveForm()
    {
        await BrowserStorage.Set(StorageKeys.PreKInfo, PreKInfoData);
    }

    protected override async Task OnInitializedAsync()
    {
        PreKInfoData = await BrowserStorage.GetOrNew<PreKInfo>(StorageKeys.PreKInfo);
        savedStudent = await BrowserStorage.GetOrNew<Student>(StorageKeys.StudentDemographics);
    }

}
<h2>Additional Pre-Kindergarten Information</h2>
<div class="alert alert-info">
    Students will be admitted based on the following criteria. Enrolment is determined by program space availability and student need. Not all students will meed the criteria for admission.
</div>
<div class="alert alert-info">
    Family/Student information is collected by Living Sky School Division to inform program and enrolment decisions. Information is considered confidential and does not remain in a student's file beyond their pre-kindergarten year.
</div>
<EditForm Model="@PreKInfoData" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="studentLanguage" class="col-sm-4  font-weight-normal">Language spoken at home: </label>
        <InputText id="studentLanguage" class="form-control col-sm-8" @bind-Value="@PreKInfoData.LanguageSpokenAtHome"></InputText>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LanguageSpokenAtHome)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  font-weight-normal">Does @savedStudent.FirstName experience social, emotional, or behavior issues? Please explain. </label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.SocialEmotionalOrBehaviorIssues"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.SocialEmotionalOrBehaviorIssues)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  font-weight-normal">  Traumatic experience within or impacting the family/child. Explain:</label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.TraumaticExperiences"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.TraumaticExperiences)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  font-weight-normal">Health care crisis impacting child or family. Please explain.</label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.HealthcareCrisis"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.HealthcareCrisis)" />
    </div>

    <div class="form-group">
        <div class="form-row">
            <label class="font-weight-normal col-sm-4">Difficulties</label>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.SpeechDifficulties"></InputCheckbox>
                <label for="" class="font-weight-normal">Child experiences speech difficulties</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.SpeechDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LanguageDifficulties"></InputCheckbox>
                <label for="" class="font-weight-normal">Child experiences language difficulties</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LanguageDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.GrossMotorDifficulties"></InputCheckbox>
                <label for="" class="font-weight-normal">Child experiences gross motor difficulties</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.GrossMotorDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.FineMotorDifficulties"></InputCheckbox>
                <label for="" class="font-weight-normal">Child experiences fine motor difficulties</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.FineMotorDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <label for="studentLanguage" class="col-sm-4  font-weight-normal">Other difficulties @savedStudent.FirstName experiences: </label>
            <InputText id="studentLanguage" class="form-control col-sm-8" @bind-Value="@PreKInfoData.OtherDifficulties" placeholder=""></InputText>
            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.OtherDifficulties)" />
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.OnlyOneParentInHome"></InputCheckbox>
                <label for="" class="font-weight-normal">Only one parent in the home or frequent parent absence</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.OnlyOneParentInHome)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.NoFamilySupportSystem"></InputCheckbox>
                <label for="" class="font-weight-normal">Lack of family support system</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.NoFamilySupportSystem)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LowIncomeFamily"></InputCheckbox>
                <label for="" class="font-weight-normal">Low income family, experiencing financial need</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LowIncomeFamily)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.PrimaryCaregiverLessThanHighSchoolEducation"></InputCheckbox>
                <label for="" class="font-weight-normal">Primary caregiver has less than high school education</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.PrimaryCaregiverLessThanHighSchoolEducation)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.TeenParent"></InputCheckbox>
                <label for="" class="font-weight-normal">Child lives with teen parent</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.TeenParent)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.InFosterCare"></InputCheckbox>
                <label for="" class="font-weight-normal">Child is in foster care</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.InFosterCare)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LittleOpportunityToInteractWithSameAge"></InputCheckbox>
                <label for="" class="font-weight-normal">Child has little opportunity to interact with others the same age</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LittleOpportunityToInteractWithSameAge)" />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4 font-weight-normal">Referred by an agency: </label>
        <InputText id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.ReferredByOtherAgency"></InputText>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.ReferredByOtherAgency)" />
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.CanUseBathroomAlone"></InputCheckbox>
                <label for="" class="font-weight-normal">Child can use the bathroom on their own</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.CanUseBathroomAlone)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-5 col-sm-7">
                <InputCheckbox @bind-Value="@PreKInfoData.PottyTrainingInProgress"></InputCheckbox>
                <label for="" class="font-weight-normal">Training in progress</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.PottyTrainingInProgress)" />
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-row">
            <label class="font-weight-normal col-sm-4">Does @savedStudent.FirstName receive support or assistance from any of the following:</label>

            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromAboriginalHeadstart"></InputCheckbox>
                <label class="font-weight-normal">Aboriginal Headstart</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromAboriginalHeadstart)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromAutismConsultant"></InputCheckbox>
                <label class="font-weight-normal">Autism Consultant or Resource Center</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromAutismConsultant)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromEarlyChildhoodIntervention"></InputCheckbox>
                <label class="font-weight-normal">Early childhood Intervention Program</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromEarlyChildhoodIntervention)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromChildhoodPsychologist"></InputCheckbox>
                <label class="font-weight-normal">Early Childhood Psychologist</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromChildhoodPsychologist)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromKidsFirst"></InputCheckbox>
                <label class="font-weight-normal">KidsFirst</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromKidsFirst)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromKinsmenChildDevCenter"></InputCheckbox>
                <label class="font-weight-normal">Kinsmen Child Development Center</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromKinsmenChildDevCenter)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromLicensedChildCare"></InputCheckbox>
                <label class="font-weight-normal">Licensed Child Care</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromLicensedChildCare)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromOccupationOrPhysicalTherapist"></InputCheckbox>
                <label class="font-weight-normal">Occupational/Physical Therapist</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromOccupationOrPhysicalTherapist)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromPreSchoolOrDaycare"></InputCheckbox>
                <label class="font-weight-normal">Pre-school/Daycare/Family Day Home</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromPreSchoolOrDaycare)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromSocialServices"></InputCheckbox>
                <label class="font-weight-normal">Social Services</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromSocialServices)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromSpeechLangagePathologist"></InputCheckbox>
                <label class="font-weight-normal">Speech/Language Pathologist</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromSpeechLangagePathologist)" />
            </div>
        </div>
        <div class="form-row">
            <label class="font-weight-bold col-sm-4">Do you consent to the sharing of information between the above agencies and the school?</label>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.ConsentToShareFromAgencies"></InputCheckbox>
                <label class="font-weight-bold">Yes</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.AssistanceFromSpeechLangagePathologist)" />
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label for="" class="col-sm-4 font-weight-normal">Do you have any specific concerns or information regarding @savedStudent.FirstName/family that we need to be aware of (ie: <b>custody</b>, medical, behavior, intensive needs, etc.)?: </label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.Concerns"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.Concerns)" />
    </div>


    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Next Step</button>
            </div>
        </div>
    </div>

</EditForm>
