@using LSSD.Registration.Model
@using LSSD.Registration.CustomerFrontEnd.Services;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    public PreKInfo PreKInfoData = new PreKInfo();
    string studentFirstName = "[the child]";

    protected async Task HandleValidSubmit()
    {
        await saveForm();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveForm();
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveForm();
        StepTracker.PreviousStep(FormName);
    }

    private async Task saveForm()
    {
        await BrowserStorage.Set(StorageKeys.PreKInfo, PreKInfoData);
    }

    protected override async Task OnInitializedAsync()
    {
        PreKInfoData = await BrowserStorage.GetOrNew<PreKInfo>(StorageKeys.PreKInfo);
        Student savedStudent = await BrowserStorage.Get<Student>(StorageKeys.StudentDemographics);
        if (savedStudent != null)
        {
            if (!string.IsNullOrEmpty(savedStudent.FirstName))
            {
                studentFirstName = savedStudent.FirstName;
            }
        }
    }
}
<h2>Additional Pre-Kindergarten Information</h2>
<div class="alert alert-info">
    Students will be admitted based on the following criteria. Enrolment is determined by program space availability and student need. Not all students will meed the criteria for admission.
</div>
<div class="alert alert-info">
    Family/Student information is collected by Living Sky School Division to inform program and enrolment decisions. Information is considered confidential and does not remain in a student's file beyond their pre-kindergarten year.
</div>

<EditForm Model="@PreKInfoData" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="studentLanguage" class="col-sm-4  ">Language spoken at home: </label>
        <InputText id="studentLanguage" class="form-control col-sm-8" @bind-Value="@PreKInfoData.LanguageSpokenAtHome"></InputText>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LanguageSpokenAtHome)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  ">Does @studentFirstName experience social, emotional, or behavior issues? Please explain. </label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.SocialEmotionalOrBehaviorIssues"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.SocialEmotionalOrBehaviorIssues)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  ">Have there been traumatic experiences that have effected @studentFirstName or family? Please explain.</label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.TraumaticExperiences"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.TraumaticExperiences)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4  ">Are there, or has there been a health care crisis impacting @studentFirstName or family. Please explain.</label>
        <InputTextArea id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.HealthcareCrisis"></InputTextArea>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.HealthcareCrisis)" />
    </div>

    <div class="form-group row">
        <label for="" class="col-sm-4 ">Has @studentFirstName been referred by an agency: </label>
        <InputText id="" class="form-control col-sm-8" @bind-Value="@PreKInfoData.ReferredByOtherAgency"></InputText>
        <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.ReferredByOtherAgency)" />
    </div>

    <div class="form-group">
        <div class="form-row">
            <label class=" col-sm-4">Does @studentFirstName experience difficulties with:</label>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.SpeechDifficulties"></InputCheckbox>
                <label for="" class="">Speech</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.SpeechDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LanguageDifficulties"></InputCheckbox>
                <label for="" class="">Language</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LanguageDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.GrossMotorDifficulties"></InputCheckbox>
                <label for="" class="">Gross motor control (movements of the large muscles of the arms, legs, and torso)</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.GrossMotorDifficulties)" />
            </div>
        </div>
        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.FineMotorDifficulties"></InputCheckbox>
                <label for="" class="">Fine motor control (coordination of small muscles such as hands, fingers, eyes)</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.FineMotorDifficulties)" />
            </div>
        </div>

        <div class="form-row">
            <label class=" col-sm-4">Other difficulties @studentFirstName experiences:</label>
            <div class="col-sm-8">
                <InputText id="studentLanguage" class="form-control" @bind-Value="@PreKInfoData.OtherDifficulties" placeholder=""></InputText>
                <ValidationMessage class="" For="@(() => PreKInfoData.OtherDifficulties)" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col-sm-4">
                <label class="">Environmental</label>
            </div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.OnlyOneParentInHome"></InputCheckbox>
                <label for="" class="">Only one parent in the home or frequent parent absence</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.OnlyOneParentInHome)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.NoFamilySupportSystem"></InputCheckbox>
                <label for="" class="">Lack of family support system</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.NoFamilySupportSystem)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LowIncomeFamily"></InputCheckbox>
                <label for="" class="">Low income family, experiencing financial need</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LowIncomeFamily)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.PrimaryCaregiverLessThanHighSchoolEducation"></InputCheckbox>
                <label for="" class="">Primary caregiver has less than high school education</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.PrimaryCaregiverLessThanHighSchoolEducation)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.TeenParent"></InputCheckbox>
                <label for="" class="">Child lives with teen parent</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.TeenParent)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.InFosterCare"></InputCheckbox>
                <label for="" class="">Child is in foster care</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.InFosterCare)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.LittleOpportunityToInteractWithSameAge"></InputCheckbox>
                <label for="" class="">Child has little opportunity to interact with others the same age</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.LittleOpportunityToInteractWithSameAge)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-4 col-sm-8">
                <InputCheckbox @bind-Value="@PreKInfoData.CanUseBathroomAlone"></InputCheckbox>
                <label for="" class="">Child can use the bathroom on their own</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.CanUseBathroomAlone)" />
            </div>
        </div>

        <div class="form-row">
            <div class="offset-sm-5 col-sm-7">
                <InputCheckbox @bind-Value="@PreKInfoData.PottyTrainingInProgress"></InputCheckbox>
                <label for="" class="">Bathroom training in progress</label>
                <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => PreKInfoData.PottyTrainingInProgress)" />
            </div>
        </div>
    </div>

    <div class="form-group form-row">
        <div class="col-sm-4" style="padding-right: 1em;">
            <label class="">Does @studentFirstName receive support or assistance from any of the following:</label>
        </div>
        <div class="col-sm-8 p-2">
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromAboriginalHeadstart"></InputCheckbox>
                    <label class="">Aboriginal Headstart</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromAboriginalHeadstart)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromAutismConsultant"></InputCheckbox>
                    <label class="">Autism Consultant or Resource Center</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromAutismConsultant)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromEarlyChildhoodIntervention"></InputCheckbox>
                    <label class="">Early childhood Intervention Program</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromEarlyChildhoodIntervention)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromChildhoodPsychologist"></InputCheckbox>
                    <label class="">Early Childhood Psychologist</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromChildhoodPsychologist)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromKidsFirst"></InputCheckbox>
                    <label class="">KidsFirst</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromKidsFirst)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromKinsmenChildDevCenter"></InputCheckbox>
                    <label class="">Kinsmen Child Development Center</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromKinsmenChildDevCenter)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromLicensedChildCare"></InputCheckbox>
                    <label class="">Licensed Child Care</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromLicensedChildCare)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromOccupationOrPhysicalTherapist"></InputCheckbox>
                    <label class="">Occupational/Physical Therapist</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromOccupationOrPhysicalTherapist)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromPreSchoolOrDaycare"></InputCheckbox>
                    <label class="">Pre-school/Daycare/Family Day Home</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromPreSchoolOrDaycare)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromSocialServices"></InputCheckbox>
                    <label class="">Social Services</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromSocialServices)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.AssistanceFromSpeechLangagePathologist"></InputCheckbox>
                    <label class="">Speech/Language Pathologist</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromSpeechLangagePathologist)" />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <InputCheckbox @bind-Value="@PreKInfoData.ConsentToShareFromAgencies"></InputCheckbox>
                    <label class="font-weight-bold">I consent to the sharing of data between the above agencies and the school.</label>
                    <ValidationMessage For="@(() => PreKInfoData.AssistanceFromSpeechLangagePathologist)" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="">Are there <b>custody</b> concerns that we should be aware of? </label>
        <div class="form-row">
            <InputTextArea id="" class="form-control" @bind-Value="@PreKInfoData.CustodyConcerns"></InputTextArea>
            <ValidationMessage For="@(() => PreKInfoData.CustodyConcerns)" />
        </div>
    </div>

    <div class="form-group">
        <label class="">Are there <b>medical</b> concerns that we should be aware of? </label>
        <div class="form-row">
            <InputTextArea id="" class="form-control" @bind-Value="@PreKInfoData.MedicalConcerns"></InputTextArea>
            <ValidationMessage For="@(() => PreKInfoData.MedicalConcerns)" />
        </div>
    </div>

    <div class="form-group">
        <label class="">Are there <b>behavioral</b> concerns that we should be aware of? </label>
        <div class="form-row">
            <InputTextArea id="" class="form-control" @bind-Value="@PreKInfoData.BehaviorConcerns"></InputTextArea>
            <ValidationMessage For="@(() => PreKInfoData.BehaviorConcerns)" />
        </div>
    </div>

    <div class="form-group">
        <label class="">Are there <b>other</b> concerns that we should be aware of? </label>
        <div class="form-row">
            <InputTextArea id="" class="form-control" @bind-Value="@PreKInfoData.OtherConcerns"></InputTextArea>
            <ValidationMessage For="@(() => PreKInfoData.OtherConcerns)" />
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Next Step</button>
            </div>
        </div>
    </div>

</EditForm>
