@using LSSD.Registration.Model;
@using LSSD.Registration.CustomerFrontEnd.Services; 

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    FormSubmitter Section = new FormSubmitter();

    protected override async Task OnInitializedAsync()
    {
        Section = await BrowserStorage.GetOrNew<FormSubmitter>(StorageKeys.Requestor);
    }

    private async Task saveData()
    {
        await BrowserStorage.Set(StorageKeys.Requestor, Section);
    }

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }
}
<div class="container">

    <h2>Tell us about yourself</h2>
    <p>
        Tell us about you (the person submitting this form). If we need to reach out to you regarding this registration, this is the information we will use.
        This information is <b>not</b> carried over to the registration (we'll ask for that later), we'll only use it to contact you if we have questions regarding this registration.
    </p>

    <EditForm Model="@Section" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="requestorFirstName">Your name: </label>
            <div class="form-row">
                <div class="col">
                    <InputText id="requestorFirstName" class="form-control" @bind-Value="@Section.FirstName" placeholder="Jane"></InputText>
                    <ValidationMessage For="@(() => Section.FirstName)" />
                </div>
                <div class="col">
                    <InputText id="requestorLastName" class="form-control" @bind-Value="@Section.LastName" placeholder="Smith"></InputText>
                    <ValidationMessage For="@(() => Section.LastName)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="requestorEmail">Email address: </label>
            <InputText id="requestorEmail" class="form-control" @bind-Value="@Section.EmailAddress" placeholder="jane.smith@email.com"></InputText>
            <ValidationMessage For="@(() => Section.EmailAddress)" />
        </div>

        <div class="form-group">
            <label for="requestorPhone">Phone number: </label>
            <InputText id="requestorPhone" class="form-control" @bind-Value="@Section.PhoneNumber" placeholder="123 456 7890"></InputText>
            <ValidationMessage For="@(() => Section.PhoneNumber)" />
        </div>

        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>