@using LSSD.Registration.Model;
@using LSSD.Registration.CustomerFrontEnd.Services; 

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    FormSubmitter FormSubmitterData = new FormSubmitter();

    protected override async Task OnInitializedAsync()
    {
        FormSubmitterData = await BrowserStorage.GetOrNew<FormSubmitter>(StorageKeys.Requestor);
    }

    private async Task saveData()
    {
        await BrowserStorage.Set(StorageKeys.Requestor, FormSubmitterData);
    }

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }
}
<div class="container">

    <h2>Tell us about yourself</h2>
    <p>
        Tell us about you (the person submitting this form). We'll use this information if we need to contact you regarding the registration/application that you are about to fill out. This information <i>won't</i> get carried over to the student's enrolment record.
    </p>

    <EditForm Model="@FormSubmitterData" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="requestorFirstName">Your name: </label>
            <div class="form-row">
                <div class="col">
                    <InputText id="requestorFirstName" class="form-control" @bind-Value="@FormSubmitterData.FirstName" placeholder="Jane"></InputText>
                    <ValidationMessage For="@(() => FormSubmitterData.FirstName)" />
                </div>
                <div class="col">
                    <InputText id="requestorLastName" class="form-control" @bind-Value="@FormSubmitterData.LastName" placeholder="Smith"></InputText>
                    <ValidationMessage For="@(() => FormSubmitterData.LastName)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="requestorEmail">Email address: </label>
            <InputText id="requestorEmail" class="form-control" @bind-Value="@FormSubmitterData.EmailAddress" placeholder="jane.smith@email.com"></InputText>
            <ValidationMessage For="@(() => FormSubmitterData.EmailAddress)" />
        </div>

        <div class="form-group">
            <label for="requestorPhone">Phone number: </label>
            <InputText id="requestorPhone" class="form-control" @bind-Value="@FormSubmitterData.PhoneNumber" placeholder="123 456 7890"></InputText>
            <ValidationMessage For="@(() => FormSubmitterData.PhoneNumber)" />
        </div>

        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>