@using LSSD.Registration.Model
@using System.Linq;
@using LSSD.Registration.CustomerFrontEnd.Services;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.SchoolDataService SchoolRepository { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    [Parameter]
    public bool? OnlyPreK { get; set; }

    bool schoolAPIReturned = false;
    string chosenCommunity = string.Empty;
    List<School> allSchools = new List<School>();
    Dictionary<string, List<School>> availableSchoolsByCommunity = new Dictionary<string, List<School>>();
    SchoolPreferenceList ChosenSchools = new SchoolPreferenceList();


    protected override async Task OnInitializedAsync()
    {
        loadSchools();
        ChosenSchools = await BrowserStorage.GetOrNew<SchoolPreferenceList>(StorageKeys.MultiSchool);
    }

    private IEnumerable<School> getSchoolsForCommunity(string Community)
    {
        if (availableSchoolsByCommunity.ContainsKey(Community))
        {
            return availableSchoolsByCommunity[Community].OrderBy(s => s.Name);
        }
        else
        {
            return new List<School>();
        }
    }

    const string allSchoolsCommunityName = "All Schools";
    private Dictionary<string, List<School>> toDictionaryByCommunity(List<School> Schools)
    {
        Dictionary<string, List<School>> returnMe = new Dictionary<string, List<School>>();
        returnMe.Add(allSchoolsCommunityName, new List<School>());

        foreach (School school in Schools)
        {
            if (school.Communities != null)
            {
                foreach (string Community in school.Communities)
                {
                    if (!returnMe.ContainsKey(Community))
                    {
                        returnMe.Add(Community, new List<School>());
                    }
                    returnMe[Community].Add(school);
                }
            }

            returnMe[allSchoolsCommunityName].Add(school);
        }

        return returnMe;
    }

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveData();
    }

    private async void loadSchools()
    {
        schoolAPIReturned = false;
        allSchools = (await SchoolRepository.GetAll()).ToList();
        if (OnlyPreK == true)
        {
            allSchools = allSchools.Where(s => s.HasGradePK).ToList();
        }
        availableSchoolsByCommunity = toDictionaryByCommunity(allSchools);
        schoolAPIReturned = true;
        StateHasChanged();
    }

    private async void selectSchool(School school)
    {
        if (ChosenSchools == null)
        {
            ChosenSchools = new SchoolPreferenceList();
        }

        ChosenSchools.AddSchool(school);

        await saveData();
    }

    private async Task saveData()
    {
        await BrowserStorage.Set(StorageKeys.MultiSchool, ChosenSchools);
    }

    protected void OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }

    protected async void OnClick_RemoveChoice(SelectedSchool school)
    {
        if (ChosenSchools == null)
        {
            ChosenSchools = new SchoolPreferenceList();
        }
        ChosenSchools.RemoveSchool(school);
        await saveData();
    }

    protected async void OnClick_RemoveChoice(School school)
    {
        if (ChosenSchools == null)
        {
            ChosenSchools = new SchoolPreferenceList();
        }
        ChosenSchools.RemoveSchool(school);
        await saveData();
    }

}
<h2>Please select up to three schools:</h2>

<EditForm Model="@ChosenSchools" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
    <br />
    @if (!schoolAPIReturned)
    {
        <div class="w-25 row mx-auto">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">...</span>
            </div>
            <div class="h2 px-2">Loading...</div>
        </div>
    }
    else
    {

        if (availableSchoolsByCommunity.Count > 0)
        {
            @if (!ChosenSchools.IsFull())
            {
                <div class="form-group row">
                    <label for="chosenCommunity" class="col-sm-3 font-weight-bold">Community: </label>
                    <InputSelect id="chosenCommunity" class="form-control col-sm-4" @bind-Value="@chosenCommunity">
                        <option value=""></option>
                        @foreach (string val in availableSchoolsByCommunity.Keys.OrderBy(c => c))
                                    {
                            <option value="@val">@val</option>
                                    }
                    </InputSelect>
                </div>

                @foreach (School school in getSchoolsForCommunity(chosenCommunity).Where(school => !ChosenSchools.ContainsDAN(school.DAN)).OrderBy(s => s.Name))
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-10">
                                    <SchoolComponent school="@school"></SchoolComponent>
                                </div>
                                <button type="button" @onclick="@(() => selectSchool(school))" class="btn btn-primary col-sm-2">Select @school.Name</button>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }

            <br />

            @if (ChosenSchools.FirstChoice != null)
            {
                <div class="card m-2">
                    <div class="row card-body ">
                        <div class="col-sm-2"><b>First Choice:</b></div>
                        <div class="col-sm">@ChosenSchools.FirstChoice.Name</div>
                        <div class="col-sm-2"><button type="button" @onclick="@(() => OnClick_RemoveChoice(ChosenSchools.FirstChoice))" class="btn btn-sm btn-danger btn-block">Clear choice</button></div>
                    </div>
                </div>
            }

            @if (ChosenSchools.SecondChoice != null)
            {
                <div class="card m-2">
                    <div class="row card-body">
                        <div class="col-sm-2"><b>Second Choice:</b></div>
                        <div class="col-sm">@ChosenSchools.SecondChoice.Name</div>
                        <div class="col-sm-2"><button type="button" @onclick="@(() => OnClick_RemoveChoice(ChosenSchools.SecondChoice))" class="btn btn-sm btn-danger btn-block">Clear choice</button></div>
                    </div>
                </div>
            }

            @if (ChosenSchools.ThirdChoice != null)
            {
                <div class="card m-2">
                    <div class="row card-body">
                        <div class="col-sm-2"><b>Third Choice:</b></div>
                        <div class="col-sm">@ChosenSchools.ThirdChoice.Name</div>
                        <div class="col-sm-2"><button type="button" @onclick="@(() => OnClick_RemoveChoice(ChosenSchools.ThirdChoice))" class="btn btn-sm btn-danger btn-block">Clear choice</button></div>
                    </div>
                </div>
            }
        }
        else
        {
            // No schools returned
            <p>No schools returned!</p>
        }
    }

    <br /><br />

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Next Step</button>
            </div>
        </div>
    </div>

</EditForm>

