@using LSSD.Registration.Model
@using LSSD.Registration.CustomerFrontEnd.Services;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    private bool mailingAddressSameAsPhysical = true;
    private bool usesLandDescription = false;
    private bool usePreferredName = false;
    Student StudentDemographicData = new Student();

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveData();
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }

    private async Task saveData()
    {
        if (mailingAddressSameAsPhysical && !usesLandDescription)
        {
            StudentDemographicData.MailingAddress = StudentDemographicData.PrimaryAddress;
        }

        await BrowserStorage.Set(StorageKeys.StudentDemographics, StudentDemographicData);
    }

    protected override async Task OnInitializedAsync()
    {
        StudentDemographicData = await BrowserStorage.GetOrNew<Student>(StorageKeys.StudentDemographics);
    }

    private void updatePreferredName()
    {
        if (string.IsNullOrEmpty(StudentDemographicData.FirstName) && !string.IsNullOrEmpty(StudentDemographicData.LegalFirstName))
        {
            StudentDemographicData.FirstName = StudentDemographicData.LegalFirstName;
        }

        if (string.IsNullOrEmpty(StudentDemographicData.MiddleName) && !string.IsNullOrEmpty(StudentDemographicData.LegalMiddleName))
        {
            StudentDemographicData.MiddleName = StudentDemographicData.LegalMiddleName;
        }

        if (string.IsNullOrEmpty(StudentDemographicData.LastName) && !string.IsNullOrEmpty(StudentDemographicData.LegalLastName))
        {
            StudentDemographicData.LastName = StudentDemographicData.LegalLastName;
        }
    }
}
<div class="container">
    <h2>Student Information</h2>

    <EditForm Model="@StudentDemographicData" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-3">
                    <label>Legal name: </label>
                    <p><small class="form-text text-muted">The exact name on the birth certificate. Required by the Saskatchewan Ministry of Education.</small></p>
                </div>
                <div class="row col-sm-8 p-0">
                    <div class="col-sm-4 m-0">
                        <InputText id="studentLegalFirstName" class="form-control" @bind-Value="@StudentDemographicData.LegalFirstName" @onblur="updatePreferredName" placeholder="First"></InputText>
                        <ValidationMessage For="@(() => StudentDemographicData.LegalFirstName)" />
                    </div>
                    <div class="col-sm-3 m-0">
                        <InputText id="studentLegalLastName" class="form-control" @bind-Value="@StudentDemographicData.LegalMiddleName" @onblur="updatePreferredName" placeholder="Middle"></InputText>
                        <ValidationMessage For="@(() => StudentDemographicData.LegalMiddleName)" />
                    </div>
                    <div class="col-sm-4 m-0">
                        <InputText id="studentLegalLastName" class="form-control" @bind-Value="@StudentDemographicData.LegalLastName" @onblur="updatePreferredName" placeholder="Last"></InputText>
                        <ValidationMessage For="@(() => StudentDemographicData.LegalLastName)" />
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="offset-sm-3">
                    <InputCheckbox id="usesLandDescription" @bind-Value="@usePreferredName" />
                    <label class="form-check-label" for="usesLandDescription" style="font-weight: normal;">
                        Student goes by a different name
                    </label>
                </div>
            </div>

            @if (usePreferredName)
            {
                <div class="form-row">
                    <label class="col-sm-3">Preferred name: </label>
                    <div class="row col-sm-8 p-0">
                        <div class="col-sm-4 m-0">
                            <InputText id="studentLegalFirstName" class="form-control" @bind-Value="@StudentDemographicData.FirstName" placeholder="First"></InputText>
                            <ValidationMessage For="@(() => StudentDemographicData.FirstName)" />
                        </div>
                        <div class="col-sm-3 m-0">
                            <InputText id="studentLegalLastName" class="form-control" @bind-Value="@StudentDemographicData.MiddleName" placeholder="Middle"></InputText>
                            <ValidationMessage For="@(() => StudentDemographicData.MiddleName)" />
                        </div>
                        <div class="col-sm-4 m-0">
                            <InputText id="studentLegalLastName" class="form-control" @bind-Value="@StudentDemographicData.LastName" placeholder="Last"></InputText>
                            <ValidationMessage For="@(() => StudentDemographicData.LastName)" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="birthdate">Date of Birth: </label>
                <small class="form-text text-muted">
                    <b>PreK</b> students must be at least 3 years old.
                    <b>Kindergarten</b> students must be 5 years old as of Dec 31.
                </small>
            </div>
            <InputDate id="birthdate" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.DateOfBirth" placeholder="Enter birthdate"></InputDate>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.DateOfBirth)" />
        </div>

        <div class="form-group row">
            <label for="studentGender" class="col-sm-3">Gender: </label>
            <InputSelect id="studentGender" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.Gender">
                @foreach (var val in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@val">@val</option>
                }
            </InputSelect>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.Gender)" />
        </div>

        <div class="form-group row">
            <label for="studentGender" class="col-sm-3">Health Services Number: </label>
            <InputText id="studentLegalLastName" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.HealthServicesNumber" placeholder="123 456 789"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.HealthServicesNumber)" />
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="studentMedical">Medical Notes: </label>
                <p><small class="form-text text-muted">Are there any medical conditions that we should be aware of, such as allergies, regular medication, etc.?</small></p>
            </div>
            <InputTextArea id="studentMedical" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MedicalNotes"></InputTextArea>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MedicalNotes)" />
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="studentMedical">Previous Saskatchewan Schools: </label>
                <p><small class="form-text text-muted">Has this child ever attended a different school <b>within the province of Saskatchewan</b>? Please enter the name and city for each school. This information helps prevent duplicate enrolments for the same student.</small></p>
            </div>
            <InputTextArea id="studentMedical" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PreviousSchools"></InputTextArea>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PreviousSchools)" />
        </div>

        <div class="form-group">
            <h3>Primary Physical Address</h3>
            <div class="offset-sm-3">
                <InputCheckbox id="usesLandDescription" @bind-Value="@usesLandDescription" />
                <label class="form-check-label" for="usesLandDescription" style="font-weight: normal;">
                    No civic address, use land description
                </label>
            </div>
        </div>

        @if (usesLandDescription)
        {
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress)" />
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="studentLandDescription">Land Description</label>
                </div>
                <InputText id="studentLandDescription" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.LandDescription" placeholder="SE-12-20-33-W1"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.LandDescription)" />
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Name of closest city/town:</label>
                        <small class="form-text text-muted">
                            Required by the Sask. Ministry of Education.
                        </small>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.City"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.Province"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.Country"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.Country)" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress)" />
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Unit Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.UnitNumber"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>House Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.HouseNumber"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.HouseNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Street </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.Street"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.Street)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>City/Town:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.City"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Postal Code:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.PostalCode"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.PostalCode)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.Province"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.PrimaryAddress.Country"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.PrimaryAddress.Country)" />
                </div>
            </div>
        }

        <br />
        <div class="form-group">
            <h3>Mailing Address</h3>
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress)" />
            </div>
            <div class="offset-sm-3">
                @if (!usesLandDescription)
                {
                    <InputCheckbox id="mailingSameAsPhysical" @bind-Value="@mailingAddressSameAsPhysical" />
                    <label class="form-check-label" for="mailingSameAsPhysical" style="font-weight: normal;">
                        Same as physical
                    </label>
                }
            </div>
        </div>
        @if ((!mailingAddressSameAsPhysical) || (usesLandDescription))
        {
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Unit Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.UnitNumber"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>House Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.HouseNumber"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.HouseNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Street </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.Street"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.Street)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>City</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.City"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Postal Code:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.PostalCode"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.PostalCode)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.Province"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@StudentDemographicData.MailingAddress.Country"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => StudentDemographicData.MailingAddress.Country)" />
                </div>
            </div>
        }

        <ValidationSummary />
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>


</div>

