@using LSSD.Registration.Model

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public Microsoft.AspNetCore.ProtectedBrowserStorage.ProtectedLocalStorage Storage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    private bool mailingAddressSameAsPhysical = true;
    private bool usesLandDescription = false;
    private const string SectionStorageKey = "REG-SECTION-STUDENT";
    Student Section = new Student();

    protected async Task HandleValidSubmit()
    {
        await saveForm();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveForm();
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveForm();
        StepTracker.PreviousStep(FormName);
    }

    private async Task saveForm()
    {
        if (mailingAddressSameAsPhysical && !usesLandDescription)
        {
            Section.MailingAddress = Section.PrimaryAddress;
        }
        await Storage.SetAsync(SectionStorageKey, Section);
    }

    protected override async Task OnInitializedAsync()
    {
        // Attempt to load a saved section from browser storage.
        // If one doesn't exist, make a new one.
        Student LoadedSection = await Storage.GetAsync<Student>(SectionStorageKey);
        if (LoadedSection != null)
        {
            Section = LoadedSection;
        }
        else
        {
            await Storage.SetAsync(SectionStorageKey, Section);
        }
    }

    private void updatePreferredName()
    {
        if (string.IsNullOrEmpty(Section.FirstName) && !string.IsNullOrEmpty(Section.LegalFirstName))
        {
            Section.FirstName = Section.LegalFirstName;
        }

        if (string.IsNullOrEmpty(Section.MiddleName) && !string.IsNullOrEmpty(Section.LegalMiddleName))
        {
            Section.MiddleName = Section.LegalMiddleName;
        }

        if (string.IsNullOrEmpty(Section.LastName) && !string.IsNullOrEmpty(Section.LegalLastName))
        {
            Section.LastName = Section.LegalLastName;
        }
    }
}
<div class="container">
    <h2>Student Information</h2>

    <EditForm Model="@Section" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <div class="col-sm-3">
                <label>Legal name: </label>
                <p><small class="form-text text-muted">The exact name on the birth certificate. Required by the Saskatchewan Ministry of Education.</small></p>
            </div>
            <div class="row col-sm-8 p-0">
                <div class="col-sm-4 m-0">
                    <InputText id="studentLegalFirstName" class="form-control" @bind-Value="@Section.LegalFirstName" @onblur="updatePreferredName" placeholder="First"></InputText>
                    <ValidationMessage For="@(() => Section.LegalFirstName)" />
                </div>
                <div class="col-sm-3 m-0">
                    <InputText id="studentLegalLastName" class="form-control" @bind-Value="@Section.LegalMiddleName" @onblur="updatePreferredName" placeholder="Middle"></InputText>
                    <ValidationMessage For="@(() => Section.LegalMiddleName)" />
                </div>
                <div class="col-sm-4 m-0">
                    <InputText id="studentLegalLastName" class="form-control" @bind-Value="@Section.LegalLastName" @onblur="updatePreferredName" placeholder="Last"></InputText>
                    <ValidationMessage For="@(() => Section.LegalLastName)" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3">Preferred name: </label>
            <div class="row col-sm-8 p-0">
                <div class="col-sm-4 m-0">
                    <InputText id="studentLegalFirstName" class="form-control" @bind-Value="@Section.FirstName" placeholder="First"></InputText>
                    <ValidationMessage For="@(() => Section.FirstName)" />
                </div>
                <div class="col-sm-3 m-0">
                    <InputText id="studentLegalLastName" class="form-control" @bind-Value="@Section.MiddleName" placeholder="Middle"></InputText>
                    <ValidationMessage For="@(() => Section.MiddleName)" />
                </div>
                <div class="col-sm-4 m-0">
                    <InputText id="studentLegalLastName" class="form-control" @bind-Value="@Section.LastName" placeholder="Last"></InputText>
                    <ValidationMessage For="@(() => Section.LastName)" />
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-3">
                <label for="birthdate">Date of Birth: </label>
                <small class="form-text text-muted">
                    <b>PreK</b> students must be at least 3 years old.
                    <b>Kindergarten</b> students must be 5 years old as of Dec 31.
                </small>
            </div>
            <InputDate id="birthdate" class="form-control col-sm-8" @bind-Value="@Section.DateOfBirth" placeholder="Enter birthdate"></InputDate>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.DateOfBirth)" />
        </div>

        <div class="form-group row">
            <label for="studentGender" class="col-sm-3">Gender: </label>
            <InputSelect id="studentGender" class="form-control col-sm-8" @bind-Value="@Section.Gender">
                @foreach (var val in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@val">@val</option>
                }
            </InputSelect>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.Gender)" />
        </div>

        <div class="form-group row">
            <label for="studentGender" class="col-sm-3">Saskatchewan Health Number: </label>
            <InputText id="studentLegalLastName" class="form-control col-sm-8" @bind-Value="@Section.SaskHealthNumber" placeholder="123 456 789"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.SaskHealthNumber)" />
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="studentMedical">Medical Notes: </label>
                <p><small class="form-text text-muted">Are there any medical conditions that we should be aware of, such as allergies, regular medication, etc.?</small></p>
            </div>
            <InputTextArea id="studentMedical" class="form-control col-sm-8" @bind-Value="@Section.MedicalNotes"></InputTextArea>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MedicalNotes)" />
        </div>

        <div class="form-group row">
            <label for="studentHomeLanguage" class="col-sm-3">Language spoken at home: </label>
            <InputText id="studentHomeLanguage" class="form-control col-sm-8" @bind-Value="@Section.LanguageSpokenAtHome"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.LanguageSpokenAtHome)" />
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="studentMedical">Previous Saskatchewan Schools: </label>
                <p><small class="form-text text-muted">Has this child ever attended a different school <b>within the province of Saskatcheawn</b>? Please enter the name and city for each school. This information helps prevent duplicate registrations for the same student.</small></p>
            </div>
            <InputTextArea id="studentMedical" class="form-control col-sm-8" @bind-Value="@Section.PreviousSchools"></InputTextArea>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PreviousSchools)" />
        </div>

        <div class="form-group">
            <h3>Primary Physical Address</h3>
            <div class="offset-sm-3">
                <InputCheckbox id="usesLandDescription" @bind-Value="@usesLandDescription" />
                <label class="form-check-label" for="usesLandDescription" style="font-weight: normal;">
                    No civic address, use land description
                </label>
            </div>
        </div>

        @if (usesLandDescription)
        {
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress)" />
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="studentLandDescription">Land Description</label>
                </div>
                <InputText id="studentLandDescription" class="form-control col-sm-8" @bind-Value="@Section.LandDescription" placeholder="SE-12-20-33-W1"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.LandDescription)" />
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Name of closest city/town:</label>
                        <small class="form-text text-muted">
                            Required by the Sask. Ministry of Education.
                        </small>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.City" placeholder="Cake Town"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.Province" placeholder="SK"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.Country" placeholder="Canada"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.Country)" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress)" />
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Unit Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.UnitNumber" placeholder="A"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>House Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.HouseNumber" placeholder="123"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.HouseNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Street </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.Street" placeholder="Fake St."></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.Street)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>City/Town:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.City" placeholder="Cake Town"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Postal Code:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.PostalCode" placeholder="H0H 0H0"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.PostalCode)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.Province" placeholder="SK"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.PrimaryAddress.Country" placeholder="Canada"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.PrimaryAddress.Country)" />
                </div>
            </div>
        }

        <br />
        <div class="form-group">
            <h3>Mailing Address</h3>
            <div class="form-group">
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress)" />
            </div>
            <div class="offset-sm-3">
                @if (!usesLandDescription)
                {
                    <InputCheckbox id="mailingSameAsPhysical" @bind-Value="@mailingAddressSameAsPhysical" />
                    <label class="form-check-label" for="mailingSameAsPhysical" style="font-weight: normal;">
                        Same as physical
                    </label>
                }
            </div>
        </div>
        @if ((!mailingAddressSameAsPhysical) || (usesLandDescription))
        {
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Unit Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.UnitNumber" placeholder="A"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>House Number </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.HouseNumber" placeholder="123"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.HouseNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Street </label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.Street" placeholder="Fake St."></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.Street)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>City</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.City" placeholder="Cake Town"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.City)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Postal Code:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.PostalCode" placeholder="H0H 0H0"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.PostalCode)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Province:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.Province" placeholder="SK"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.UnitNumber)" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>Country:</label>
                    </div>
                    <InputText id="studentPrimaryUnitNo" class="form-control col-sm-8" @bind-Value="@Section.MailingAddress.Country" placeholder="Canada"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Section.MailingAddress.Country)" />
                </div>
            </div>
        }

        <ValidationSummary />
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>
        

</div>

