@using LSSD.Registration.Model;
@using LSSD.Registration.Model.SubmittedForms;
@code {
    [Inject]
    IRegistrationRepository<SubmittedGeneralRegistrationForm> _FormRepo {get;set;}

    [Parameter]
    public SubmittedGeneralRegistrationForm Form { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    private void toggleNotifications() 
    {
        if (Form != null) 
        {
            Form.NotificationSent = !Form.NotificationSent;            
            _FormRepo.Update(Form);
            NavigationManager.NavigateTo("/K12");
        }
    }
}   
<div>
<h3>Form</h3>
<FormInfoComponent Form="@Form"/>

<h3>Enrolment Details</h3>
<EnrolmentInfoComponent Section="@Form.Form.EnrollmentDetails" />

<h3>School and Grade</h3>
<SchoolWithGradeComponent School="@Form.Form.School" Grade="@Form.Form.Grade" />

<h3>Submitted By</h3>
<SubmittedByComponent Section="@Form.Form.SubmittedBy" />

<h3>Student</h3>
<StudentDemographicComponent Student="@Form.Form.Student" />

<h3>Contacts</h3>
<ContactsComponent Contacts="@Form.Form.Contacts" />

<h3>Siblings</h3>
<SiblingsComponent Siblings="@Form.Form.Siblings" />

<h3>EAL</h3>
<EALInfoComponent Section="@Form.Form.EALInfo" />

<h3>Citizenship</h3>
<CitizenshipComponent Section="@Form.Form.Citizenship" />

<h3>Students of First Nations Ancestry</h3>
<FirstNationsComponent Section="@Form.Form.FirstNationsInfo" />

@if (Form.Form.StVitalExtraRequirements != null) {
    <h3>St. Vital Extra Admission Requirements</h3>
    <StVitalExtraComponent Section="@Form.Form.StVitalExtraRequirements" />
}

<button class="btn btn-danger" @onclick="toggleNotifications">
    @if(Form.NotificationSent) {
        <span>Resend notifications</span>
    } else {
        <span>Mark as notified</span>
    }
</button>

<br/><br/>
<h3>Raw</h3>
@{
    string rawJSON = Newtonsoft.Json.JsonConvert.SerializeObject(Form, Newtonsoft.Json.Formatting.Indented);
}
<pre>@rawJSON</pre>
<br/><br/><br/><br/><br/>

</div>
