@using LSSD.Registration.Model;
@code {
    [Parameter]
    public FormSubmitter Section { get; set; }
}
<div class="form-group">
    <div class="row">
        <div class="col-sm-3">Submitted By</div>
        <div class="col-sm-6">@Section.FirstName @Section.LastName</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Relation to student</div>
        <div class="col-sm-6">@Section.RelationToStudent</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Contact Details</div>
        <div class="col-sm-6">@Section.ContactDetails</div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">Submitted For Year</div>
        <div class="col-sm-6">
            @if(!string.IsNullOrEmpty(Section.SchoolYearRegisteringFor)) {
                <span>@Section.SchoolYearRegisteringFor</span>
            } else {
                <i>Not available</i>
            }
        </div>
    </div>
</div>