@page "/General"
@using LSSD.Registration.CustomerFrontEnd.Components

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "GENREG";

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}

    <div class="container" style="border: 1px solid #C0C0C0; border-radius: 3px;">
        <h1>K-12 Registration</h1>
        Step: @StepTracker.Step(FormName)
        <hr />
        <br />
        @switch (StepTracker.Step(FormName))
        {
            case 0:
                <DataPrivacySection FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
                break;
            case 1:
                <SchoolChooser FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
                break;
            case 2:
                <RequestorSection FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
                break;
            case 3:
                <StudentDemographicsSection FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
                break;
        }

        <br /><br />
    </div>