@using LSSD.Registration.CustomerFrontEnd.Services;
@using  LSSD.Registration.Model;
@namespace LSSD.Registration.CustomerFrontEnd.BlazorComponents.FormSections
@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    EnrolmentInfo EnrollmentData = new EnrolmentInfo();
    Student LoadedStudentDemographics = new Student();
    string studentFirstName = "the child";

    private async void OnClick_NextStepButton()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async void OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }

    protected override async Task OnInitializedAsync()
    {
        EnrollmentData = await BrowserStorage.GetOrNew<EnrolmentInfo>(StorageKeys.Enrolment);
        LoadedStudentDemographics = await BrowserStorage.GetOrNew<Student>(StorageKeys.StudentDemographics);

        if (!string.IsNullOrEmpty(LoadedStudentDemographics.FirstName))
        {
            studentFirstName = LoadedStudentDemographics.FirstName;
        }
    }

    private async Task saveData()
    {
        await BrowserStorage.Set(StorageKeys.Enrolment, EnrollmentData);
    }

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task HandleInValidSubmit()
    {
        await saveData();
    }

}
<div class="container">
    <h2>Enrolment information</h2>
    <br />
    <EditForm Model="@EnrollmentData" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-row">
            <div class="col-sm-4">Do any of the following apply?</div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.NoPreviousSchooling"></InputCheckbox>
                <label for="" class="">@studentFirstName has had <b>no</b> previous schooling.</label>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.TransferFromAnotherCountry"></InputCheckbox>
                <label for="" class="">@studentFirstName is transferring from another <b>country</b></label>
            </div>
        </div>

        @if (EnrollmentData.TransferFromAnotherCountry)
        {
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="studentLanguage" class="small">Country transferred from </label>
                    <InputText id="studentLanguage" class="form-control form-control-sm" @bind-Value="@EnrollmentData.CountryTransferredFrom"></InputText>
                    <ValidationMessage class="offset-sm-4" For="@(() => EnrollmentData.CountryTransferredFrom)" />
                </div>
            </div>
        }

        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.TransferFromAnotherProvince"></InputCheckbox>
                <label for="" class="">@studentFirstName is transferring from another <b>province</b></label>
            </div>
        </div>

        @if (EnrollmentData.TransferFromAnotherProvince)
        {
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="studentLanguage" class="small">Province transferred from </label>
                    <InputText id="studentLanguage" class="form-control form-control-sm" @bind-Value="@EnrollmentData.ProvinceTransferredFrom"></InputText>
                    <ValidationMessage class="offset-sm-4" For="@(() => EnrollmentData.ProvinceTransferredFrom)" />
                </div>
            </div>
        }

        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.TransferFromAnotherSaskSchool"></InputCheckbox>
                <label for="" class="">@studentFirstName is transferring from another <b>saskatchewan school</b></label>
            </div>
        </div>

        @if (EnrollmentData.TransferFromAnotherSaskSchool)
        {
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="studentLanguage" class="small">School transferred from </label>
                    <InputText id="studentLanguage" class="form-control form-control-sm" @bind-Value="@EnrollmentData.SchoolTransferredFrom"></InputText>
                    <ValidationMessage class="offset-sm-4" For="@(() => EnrollmentData.SchoolTransferredFrom)" />
                </div>
            </div>
        }

        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.TransferFromHomeBased"></InputCheckbox>
                <label for="" class="">@studentFirstName is transferring from <b>home-schooling</b></label>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <InputCheckbox @bind-Value="@EnrollmentData.ExchangeStudent"></InputCheckbox>
                <label for="" class="">@studentFirstName is an exchange student</label>
            </div>
        </div>

        @if (EnrollmentData.ExchangeStudent)
        {
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <label for="studentLanguage" class="small">Exchange student from </label>
                    <InputText id="studentLanguage" class="form-control form-control-sm" @bind-Value="@EnrollmentData.ExchangeStudentFrom"></InputText>
                    <ValidationMessage class="offset-sm-4" For="@(() => EnrollmentData.ExchangeStudentFrom)" />
                </div>
            </div>
        }


        <br /><br />
        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>