@using LSSD.Registration.Model;
@using LSSD.Registration.CustomerFrontEnd.Services;
@namespace LSSD.Registration.CustomerFrontEnd.BlazorComponents.FormSections
@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    FormSubmitter FormSubmitterData = new FormSubmitter();

    protected override async Task OnInitializedAsync()
    {
        FormSubmitterData = await BrowserStorage.GetOrNew<FormSubmitter>(StorageKeys.Requestor);
    }

    private async Task saveData()
    {
        await BrowserStorage.Set(StorageKeys.Requestor, FormSubmitterData);
    }

    protected async Task HandleValidSubmit()
    {
        await saveData();
        StepTracker.NextStep(FormName);
    }

    protected async Task OnClick_PreviousStepButton()
    {
        await saveData();
        StepTracker.PreviousStep(FormName);
    }
}
<div class="container">

    <h2>Tell us about yourself</h2>
    <p>
        Tell us about you (the person submitting this form). We'll use this information if we need to contact you regarding the registration/application that you are about to fill out. This information <i>won't</i> get carried over to the student's enrolment record.
    </p>

    <EditForm Model="@FormSubmitterData" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-3">
                    <label for="requestorFirstName" class="font-weight-bold">Your name: </label>
                </div>
                <div class="col-sm-4">
                    <InputText id="requestorFirstName" class="form-control" @bind-Value="@FormSubmitterData.FirstName" placeholder="First Name"></InputText>
                    <ValidationMessage For="@(() => FormSubmitterData.FirstName)" />
                </div>
                <div class="col-sm-5">
                    <InputText id="requestorLastName" class="form-control" @bind-Value="@FormSubmitterData.LastName" placeholder="Last Name"></InputText>
                    <ValidationMessage For="@(() => FormSubmitterData.LastName)" />
                </div>
            </div>
        </div>

        <div class="form-group form-row">
            <div class="col-sm-3">
                <label for="requestorEmail" class="font-weight-bold">Preferred method of contact:</label>
                <p class="text-muted small">
                    Examples:
                    <ul class="text-muted small">
                        <li>Cell: (123) 456-7890</li>
                        <li>Text: (321) 654-0987</li>
                        <li>Email: john@smith.com</li>
                        <li>Facebook: MyFacebookName</li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-9">
                <InputTextArea id="requestorEmail" class="form-control" @bind-Value="@FormSubmitterData.ContactDetails"></InputTextArea>
                <ValidationMessage For="@(() => FormSubmitterData.ContactDetails)" />
            </div>
        </div>




        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>