@page "/k12"
@page "/k12/{formid}"
@using LSSD.Registration.Model;
@using LSSD.Registration.Model.SubmittedForms;
@using LSSD.Registration.Data;
@code {
    [Inject]
    IRegistrationRepository<SubmittedGeneralRegistrationForm> _FormRepo {get;set;}

    [Parameter]
    public string formid { get; set; }
}

@if (string.IsNullOrEmpty(formid)) {
<h1>Submitted K-12 Registration Forms</h1>

<table class="table">
    <thead>
    <tr>
        <th>Form Id</th>
        <th>Submitted On</th>
        <th>School</th>
        <th>Student Name</th>
        <th>Form Submitter</th>
    </tr>
    </thead>    

@foreach(SubmittedGeneralRegistrationForm form in _FormRepo.GetAll().OrderBy(x => x.DateProcessedUTC)) 
{
    <tr>
        <td><small>@(form.Id)</small></td>
        <td>@(form.DateReceivedUTC.ToString())</td>
        <td>@(form.Form.School.Name)</td>
        <td>@(form.Form.Student.FirstName) @(form.Form.Student.LastName)</td>
        <td>@(form.Form.SubmittedBy.FirstName) @(form.Form.SubmittedBy.LastName)</td>
    </tr>
}

</table>
    
} else {
    @* Back button *@
    @* Support for edit form stuff? *@
    @* Form razor component*@
}

